<!DOCTYPE html>
<html>
  <head>
    <title>Quizone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
     h1 {
       color: green;
       position: center;
     }
  </style>
  </head>

  <body>
    <%= yield %>
    <p>
        Jamaica is an island nation of the Greater Antilles, 240 kilometers (150 mi)</br>
        in length and as much as 85 kilometers (50 mi) in width situated in the </br>
        Caribbean Sea. It is 635 kilometers (391 mi) east of the Central American </br>
        mainland, 150 kilometers (93 mi) south of Cuba, and 180 kilometers (112 mi) </br>
        west of the island of Hispaniola, on which Haiti and the Dominican Republic </br>
        are situated. Its indigenous Arawakan-speaking Taíno inhabitants named the </br>
        island Xaymaca, meaning either the "Land of Springs," or the "Land of Wood and Water."</br>
        Formerly a Spanish possession known as Santiago, then the British West Indies </br>
        Crown colony of Jamaica. It is the third most populous Anglophone country in the</br> 
        Americas, after the United States and Canada. </br>
        <a href="https://en.wikipedia.org/wiki/Jamaica">About Jamaica Wikipedia </a>
    </p>

  </body>
</html>
